@model fruit.Models.Category
<!DOCTYPE html>
<html>
<head>
    <style>
        .page-container {
            position: relative;
            height: 100vh;
            padding-top: 150px;
            padding-right: 1200px;
            padding-left: 50px;
        }


    </style>
</head>
 <div class="page-container">
<h2>Edit Category</h2>

<form asp-action="Edit">
    @Html.AntiForgeryToken()

    <div class="form-group">
        <input type="hidden" asp-for="Id" />
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Save Changes</button>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</form>
 </div>